---
- import_tasks: ulimit.yml  

- import_tasks: create_domain.yml
  when: sambadc_type == "new"

- import_tasks: join_domain.yml
  when: sambadc_type == "join"

- import_tasks: smb.conf.yml  
- import_tasks: krb5.conf.yml  
- import_tasks: options.yml  
- import_tasks: backup.yml  
