[global]
    # Configurações mínimas de um servidor samba
    realm            = {{ sambadc_realm | upper }}
    netbios name     = {{ sambadc_netbios | upper }} 
    workgroup        = {{ sambadc_workgroup | upper }}
    server role      = active directory domain controller
    dns forwarder    = {{ sambadc_forwarder }}

    # Interfaces que o samba vai responder
    bind interfaces only = True
    interfaces           = {{ sambadc_smb_interfaces }}

    # Configurações do log                                                                                                                                   
    log level = 5 auth_audit:5 auth_json_audit:5                                                                                                              
    log file  = /var/log/samba/%m.log                                                                                                                         
    # Audit settings                                                                                                                                          
    full_audit:prefix = %u|%I|%S                                                                                                                              
    full_audit:failure = connect                                                                                                                              
    full_audit:success = connect disconnect opendir mkdir rmdir closedir open close read pread write pwrite sendfile rename unlink chmod                      
    fchmod chown fchown chdir ftruncate lock symlink readlink link mknod realpath                                                                             
    full_audit:facility = local5                                                                                                                              
    full_audit:priority = notice 

    # Permite usar ACLs do windows no samba
    # https://wiki.samba.org/index.php/Setting_up_a_Share_Using_Windows_ACLs
    # https://wiki.samba.org/index.php/Setting_up_Samba_as_an_Active_Directory_Domain_Controller#Using_the_Domain_Controller_as_a_File_Server_.28Optional.29
    vfs objects = dfs_samba4 acl_xattr recycle
    map acl inherit = yes 
    store dos attributes = yes 

    # Manipulação de objetos com ldap
    # https://wiki.samba.org/index.php/Setting_up_RFC2307_in_AD
    idmap_ldb:use rfc2307 = yes

[netlogon]
    path = /var/lib/samba/sysvol/{{ sambadc_realm }}/scripts
    read only = False

[sysvol]
    path = /var/lib/samba/sysvol
    read only = False




